html, body {
  height: 100%;
  width: 100%;
}

.bulb{ 
  height : 500px;
  width:500px;
  display:flex;
  allign-item:center;
  background: orange;
}

 .bulbcontainer{
  height: 341px;
  width: 341px; 
}
